<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759890590107-l23rtvmsame6cnmeqf0j0tms15g5nnsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759890590107-l23rtvmsame6cnmeqf0j0tms15g5nnsn</string>
	<key>API_KEY</key>
	<string>AIzaSyBbtfUCaKoL5DQ6S1ly4vhljfv9ieUV1f8</string>
	<key>GCM_SENDER_ID</key>
	<string>759890590107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IVANDOSEV.Bert</string>
	<key>PROJECT_ID</key>
	<string>fir-todo2-4d9ab</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo2-4d9ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759890590107:ios:b809e757d2c7678a27893e</string>
</dict>
</plist>